<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Admin Panel | GPT-Chatbot</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
  </head>
  <style>
    #userPrompt{
      background-color: rgb(82, 82, 253);
      padding: 10px;
      color: white;
      border-radius: 10px;
    }
    #botResponse{
      background-color: #8d8d8d;
      padding: 10px;
      color: white;
      border-radius: 10px;
    }
    #time{
      font-size: 12px;
    }
    .buttons{
     cursor: pointer;
    }
    .buttons > a {
     text-decoration: none;
    }
  </style>
  <body>
    <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Edit User</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form action="/admin/update" method="post">
              <input class="form-control mb-3" type="text" hidden name="editId" id="editId">
              <input class="form-control mb-3" type="text" disabled name="editEmail" id="editEmail">
              <input class="form-control mb-3" type="text" name="editFirstName" id="editName">
              <select class="form-select mb-3" name="editRole" id="editRole">
                <option value="NORMAL">NORMAL</option>
                <option value="ADMIN">ADMIN</option>
              </select>
              <button type="submit" class="btn btn-primary" style="width: 100%;">Save changes</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content px-4">
          <div class="modal-header">
            <h5 class="modal-title">Delete User</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
            <h5 id="deleteModalName" class="text-center my-4"></h5>
            <a class="btn btn-danger mt-2 mb-4" href="#" id="modalDeleteBtn">Yes, Delete</a>
          </div>
        </div>
      </div>
    </div>
    <h1 class="my-4 text-center">Hey Admin! Check All User Detail Here 📷📢</h1>
    <div
      class="container d-flex align-items-center justify-content-center"
    >
      <a class="btn btn-primary text-center mb-4 mx-2" href="/">Go back to chatbot 📌🚀</a>
      <a class="btn btn-warning text-center mb-4 mx-2" href="/api/history">Go back to history🚀</a>
      
    </div>
    
    </div>
    <div class="container">
     <form class="d-flex" method="post" action="/admin">
      <select name="userId" class="form-select">
       <option value="null">Select User</option>
       <% results.forEach(result=> { %>
        <option value=<%= result.id %>><%= result.firstName %></option>
       <% }); %>
     </select>
     <button type="submit" class="btn btn-success ms-3">Submit</button>
     </form>
     <h4 class="text-center my-4">All users are listed below</h4>
     <table class="table">
      <thead>
        <tr>
          <th scope="col">Sno</th>
          <th scope="col">First Name</th>
          <th scope="col">Email</th>
          <th scope="col">Role</th>
          <th scope="col">Edit</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>
      <tbody>
       <% let i = 0; %>
        <% results.forEach(result=> { %>
         <tr>
          <th scope="row"><%= i = i + 1 %></th>
          <td><%= result.firstName %></td>
          <td><%= result.email %></td>
          <td><%= result.role %></td>
          <td class="buttons" data-bs-toggle="modal" data-bs-target="#editModal" onclick="updateModal('<%= result._id %>','<%= result.firstName %>', '<%= result.email %>', '<%= result.role %>')">✒️</td>
          <td class="buttons" data-bs-toggle="modal" data-bs-target="#deleteModal" onclick="updateDeleteModal('<%= result._id %>','<%= result.firstName %>')">❌</td>
         </tr>
        <% }); %>
       </tbody>
    </div>
    <script>
      function updateModal(userId, firstName, email, role){
        document.getElementById("editId").value = userId;
        document.getElementById("editEmail").value = email;
        document.getElementById("editName").value = firstName;
        document.getElementById("editRole").value = role;
      }

      function updateDeleteModal(userId, firstName){
        document.getElementById("deleteModalName").innerText = `Are You Sure You Want To Delete ${firstName}?`;
        let dynamicHref = `/admin/delete/${userId}`;
        document.getElementById("modalDeleteBtn").setAttribute("href", dynamicHref);
      }
    </script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
